.bodycontent{
    margin-top: 20px;
    margin-bottom: 160px;
}

.searchbarcontainer{
    margin-bottom: 80px;
}

.seperateola{
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    /* margin: 10px; */
    /* margin-top: 7px; */
}

.holdlistmargin{
    /* padding-top: 1.5rem; */
    padding-bottom: 3rem;
}